
<h1>Espace des Commerciaux de : (mettre le nom du commercial connecté)</h1>

<br>
<hr width="75%">
<br>

<h3><em>Rendez-vous à venir</em></h3>

<table>
    <tr>
        <th>#</th>
        <th>Date du rendez-vous</th>
        <th>Prospect</th>
        <th>Commercial associé</th>
    </tr>
    <tr *ngFor="let rdv of rendezvous">
        <th>{{rdv.idRdv}}</th>
        <td>{{rdv.dateRdv | date:'dd/MM/yyyy'}}</td>
        <td>{{rdv.personne.nomPers}} {{rdv.personne.prenomPers}}</td>
        <td>{{rdv.commercial.no}}</td>
    </tr>
</table>

