
.highlighted 
{
  background-color: rgb(83, 125, 252);
}

.highlighted2 
{
  background-color: rgb(83, 125, 252);
}

.highlighted3 
{
  background-color: rgb(83, 125, 252);
}

#formsAjout
{
  margin-left: 20px;
  margin-right: 10px;
}

.formRdv
{
  padding-right: 25px;
}

.formHist
{
  padding-left: 25px;
}
