
<form (ngSubmit)="inscription()" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

    <label for="nomPers" class="sr-only">Nom </label>
    <input type="text" name="nomPers" [(ngModel)]="ut.nomPers" class="form-control" placeholder="Nom" required>
    <br>
    <label for="prenomPers" class="sr-only">Prénom </label>
    <input type="text" name="prenomPers" [(ngModel)]="ut.prenomPers" class="form-control" placeholder="Prénom" required>
    <br>
    <label for="age" class="sr-only">Age </label>
    <input type="number" name="age" [(ngModel)]="ut.age" class="form-control" placeholder="Âge" required>
    <br>
    <label for="email" class="sr-only">Email </label>
    <input type="text" name="email" [(ngModel)]="ut.email" class="form-control" placeholder="Email" required>
    <br>
    <label for="tel" class="sr-only">Teléphone </label>
    <input type="text" name="tel" [(ngModel)]="ut.tel" class="form-control" placeholder="Téléphone" required>
    <br>
    <label for="username" class="sr-only">Username </label>
    <input type="text" name="username" [(ngModel)]="ut.username" class="form-control" placeholder="Nom d'utilisateur" required>
    <br>
    <label for="password" class="sr-only">Mot de passe </label>
    <input type="password" name="password" [(ngModel)]="ut.password" class="form-control" placeholder="Mot de passe" required>
    
    <button type="submit" class="btn btn-lg btn-primary btn-block">Inscription</button>

</form><br>
