<h1>Espace personnes </h1>

<!-- Formulaire /modification de personne -->
<form #personneForm="ngForm" (ngSubmit)="ajouter(personneForm)">
  <input type="hidden" name="idPers" [(ngModel)]="personne.idPers">
  <label>Nom:</label>
  <input type="text" name="nom" [(ngModel)]="personne.nomPers" required>
  <label>Prénom:</label>
  <input type="text" name="prenom" [(ngModel)]="personne.prenomPers" required>
  <label>Age:</label>
  <input type="number" name="age" [(ngModel)]="personne.age" required>
  <label>Email:</label>
  <input type="text" name="email" [(ngModel)]="personne.email" required>
  <label>Teléphone:</label>
  <input type="text" name="tel" [(ngModel)]="personne.tel" required>
  <button type="submit">{{editingUser ? 'Modifier' : 'Ajouter'}}</button>
  <button type="button" (click)="editingUser = null; personneForm.reset()">Annuler</button>
</form><br>

<!-- Affichage de la liste des personnes -->

  <ul *ngIf="ut">
    <li>
      <div>ID : {{ut.idPers}}</div>
      <div>Nom : {{ut.nomPers}}</div>
      <div>Prénom : {{ut.prenomPers}}</div>
      <div>Age : {{ut.age}}</div>
      <div>Email : {{ut.email}}</div>
      <div>Tel : {{ut.tel}}</div>
      <div>
        <button (click)="selectionnerPersonne(ut)">Modifier</button>
        <button (click)="supprimer(ut.idPers)">Supprimer</button>
      </div>
    </li>
  </ul>


