<h1 class="text-center">Gestion des formations et des participants</h1>


<button class="btn btn-primary btn-block" routerLink="/pageAccueilAdmin">Revenir à l'Accueil Admin</button>







<h2><em>{{ isEditing ? 'Modifier une formation' : 'Ajouter une formation' }}</em></h2>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="nomForm">Nom de la formation </label>
    <input type="text" id="nomForm" class="form-control" [(ngModel)]="formation.nomForm" name="nomForm" required [ngModelOptions]="{standalone: true}">
  </div>
  <div>
    <label for="prix">Prix </label>
    <input type="number" id="prix" class="form-control" [(ngModel)]="formation.prix" name="prix" required [ngModelOptions]="{standalone: true}">
  </div>
  <div>
    <label for="dateDebut">Date de début </label>
    <input type="date" id="dateDebut" class="form-control" [(ngModel)]="formation.dateDebut" name="dateDebut" required [ngModelOptions]="{standalone: true}" (ngModelChange)="updateDuree()">
  </div>
  <div>
    <label for="dateFin">Date de fin </label>
    <input type="date" id="dateFin" class="form-control" [(ngModel)]="formation.dateFin" name="dateFin" required [ngModelOptions]="{standalone: true}" (ngModelChange)="updateDuree()">
  </div>
  <div>
    <label for="duree">Durée en jours </label>
    <input type="number" id="duree" class="form-control" [(ngModel)]="formation.duree" readonly [ngModelOptions]="{standalone: true}">
  </div>
  
  <button type="submit" class="btn btn-secondary">{{ isEditing ? 'Modifier' : 'Ajouter' }}</button>
  <button *ngIf="isEditing" type="button" (click)="onCancel()" class="btn btn-danger">Annuler</button>
</form>



<div *ngIf="formations && formations.length > 0">
  <h2>Liste des formations</h2>
  <table class="table text-center w-100 ml-5 mr-5">
    <thead class="thead-light">
      <tr>
        <th>Nom de la formation</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Prix</th>
        <th>Durée</th>
        <th>Action</th>
        <th>Participants</th>
        <th>Formateurs</th>
   
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formation of formations">
        <td>{{ formation.nomForm }}</td>
        <td>{{ formation.dateDebut }}</td>
        <td>{{ formation.dateFin }}</td>
        <td>{{ formation.prix }} €</td>
        <td>{{ formation.duree }}</td>
        <td>
          <button (click)="onEdit(formation)">Modifier</button>

          <button (click)="delete(formation.idForm)">Supprimer</button>
        </td>
        <td>
          <ul>
            <li *ngFor="let participant of formation.participants">
              <a href="mailto:{{ participant.email }}">{{ participant.nomPers }} {{ participant.prenomPers }}</a>
              <button (click)="removeParticipantFromFormation(formation.idForm, participant.idPers)">Supprimer</button>
            </li>
          </ul>
        </td>
        
        <td>
          <ul>
            <li *ngFor="let formateur of formation.formateurs">
              <a href="mailto:{{ formateur.email }}">{{ formateur.nomPers }} {{ formateur.prenomPers }}</a>
            </li>
          </ul>
        </td>
   
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="participantsWithoutFormation && participantsWithoutFormation.length > 0">
  <h2>Liste des participants sans formation :</h2>
  <table class="table text-center w-100 ml-5 mr-5">
    <thead  class="thead-light">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Nom de la formation</th>
        <th>Affecter à une première formation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participant of participantsWithoutFormation; let i = index">
        <td>{{ participant.nomPers }}</td>
        <td>{{ participant.prenomPers }}</td>
        <td><a href="mailto:{{ participant.email }}">{{ participant.email }}</a></td>
        <td>
          <select [(ngModel)]="selectedFormationIds[i]">
            <option *ngFor="let formation of formations" [value]="formation.idForm">{{ formation.nomForm }}</option>
          </select>
        </td>
        <td><button (click)="addParticipantToFormation(selectedFormationIds[i], participant.idPers)">Affecter</button></td>
      </tr>
    </tbody>
  </table>
</div>








<div *ngIf="participants && participants.length > 0">
  <h2>Liste des participants :</h2>
  <table class="table text-center w-100 ml-5 mr-5">
    <thead class="thead-light">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Formations</th>
        <th>Affecter à une autre formation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let participant of participants; let i=index">
        <td>{{ participant.nomPers }}</td>
        <td>{{ participant.prenomPers }}</td>
        <td><a href="mailto:{{ participant.email }}">{{ participant.email }}</a></td>
        <td>
          <ul>
            <li *ngFor="let formation of participant.formations">{{ formation.nomForm }}</li>
          </ul>
        </td>
        <td>
          <select [(ngModel)]="selectedFormationIds2[i]">
            <option *ngFor="let formation of getFilteredFormations(participant)" [value]="formation.idForm">{{ formation.nomForm }}</option>
          </select>
          <button (click)="addParticipantToFormation(selectedFormationIds2[i], participant.idPers)">Affecter</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
