<h1>Espace formations</h1>


<table>
  <thead>
    <tr>
      <th>Nom Formation</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>durée</th>
      <th>prix</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let formation of formations">
      <td>{{ formation.nomForm }}</td>
      <td>{{ formation.dateDebut | date }}</td>
      <td>{{ formation.dateFin | date }}</td>
      <td>{{ formation.duree }} jours</td>
      <td>{{ formation.prix }} €</td>
      <td>
        <button *ngIf="ut" (click)="addParticipantAndRedirectToPayment(formation.idForm, ut.idPers)">S'inscrire et payer</button>
      </td>
    </tr>
  </tbody>
</table>
